<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input #searchBox type="text" class="form-control" (focus)="fetchRecent()" (input)="fetchResults(searchBox.value)" (focusout)="clearResults()">
    </div>
    <div class="col-md-12 recent" *ngIf="showRecent">
      <div id="title"><em>Recent Searches</em></div>
      <ul>
        <li *ngFor="let result of searchResults">
          <a href="{{result.url}}" target="_blank">{{result.text}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-12 results"  *ngIf="!showRecent">
        <ul>
          <li *ngFor="let result of searchResults | search:'text':searchBox.value">
            <a href="{{result.url}}" target="_blank">{{result.text}}</a>
          </li>
        </ul>
      </div>
  </div>
</div>