<div class="containter">
  <div class="row">
    <div class="col-md-12">
      <div style="text-align:center">
        <h1>Welcome to {{title}}!</h1>
        <img width="300" src="/assets/search-logo.png">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">Search Wikipedia for Companies: </div>
    <div class="col-md-8"><magic-search [source]="'/assets/wikipedia.json'"></magic-search></div>
  </div>
  <div class="row">
    <div class="col-md-4">Search Nameberry for Names: </div>
    <div class="col-md-8"><magic-search [source]="'/assets/nameberry.json'"></magic-search></div>
  </div>
</div>